<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HPSC Automation Test Suite">

<listeners>
 <listener class-name="com.hpsc.qa.extent.report.listner.ExtentReportListner"/>
</listeners> 

	<test name="HPSC test cases">
		<classes>
			<class name="com.hpsc.qa.testcases.LoginPageTest" />
			<class name="com.hpsc.qa.testcases.HomePageTest" />
			<class name="com.hpsc.qa.testcases.ToolsPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
